.discover {
    margin-bottom: 50px;
    &_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        &-section {
            h2 {
                font-size: 32px;
                font-family: "Protest Strike", sans-serif;
                letter-spacing: 2px;
            }
            span {
                font-family: "Inconsolata", monospace;
                font-size: 24px;
                letter-spacing: 1px;
            }
        }
    }
    &_btn {
        button {
            font-family: "Inconsolata", monospace;
            display: block;
            margin: 30px 0;
            border: none;
            outline: none;
            border: 1px solid #ae4eee;
            background: none;
            padding: 20px 30px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            font-size: 18px;
            cursor: pointer;
            img {
                margin-right: 5px;
            }
            span {
                font-size: 20px;
            }
        }
    }

    &_content {
        display: flex;
        justify-content: center;
        &-item {
            width: 330px;
            margin: 40px 20px;
            &-descr {
                background-color: #3a3737;
                margin-top: -5px;
                border-radius: 0 0 10px 10px;
                &-title {
                    font-family: "Inconsolata", monospace;
                    padding: 10px 40px;
                    &-user {
                        display: flex;
                        margin-top: 5px;
                        img {
                            width: 30px;
                        }
                        span {
                            padding-left: 15px;
                            letter-spacing: 1px;
                        }
                    }
                    h4 {
                        font-size: 26px;
                        letter-spacing: 1px;
                    }
                    span {
                        font-size: 22px;
                    }
                }
                &-price {
                    display: flex;
                    justify-content: space-around;
                    font-family: "Inconsolata", monospace;
                    padding-bottom: 10px;
                    margin-top: 10px;
                    p {
                        color: #7e7a7a;
                        font-size: 18px;
                    }
                    span {
                        font-size: 18px;
                    }
                    
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .discover {
        &_content {
            &-item {
                width: 280px;
                &-photo {
                    img {
                        width: 280px;
                    }
                }
                &-descr {
                    &-title {
                        padding: 5px 40px;
                        h4 {
                            font-size: 22px;
                        }
                        span {
                            font-size: 18px;
                        }
                        &-user {
                            img {
                                width: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}