:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #2b2b2b;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	max-width: 1250px;
}

/* @media (max-width: 1200px) {
	.container {
		width: 992px;
	}
}
@media (max-width: 992px) {
	.container {
		width: 768px;
	}
}
@media (max-width: 1200px) {
	.container {
		width: 992px;
	}
} */
