.collection {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
    &_title {
        width: 1200px;
        margin: 50px 0;
        padding-left: 20px;
        h2 {
            font-family: "Protest Strike", sans-serif;
            letter-spacing: 2px;
            font-size: 32px;
        }
        span {
            font-family: "Inconsolata", monospace;
            font-size: 24px;
            letter-spacing: 1px;
        }
    }

    &_content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
        &-item {
            display: flex;
            flex-direction: column;
            &-images {
                width: 330px;
                &-bottom {
                    display: flex;
                    justify-content: space-between;
                    img {
                        margin-right: 10px;
                        width: 100px;
                        height: 100px;
                    }
                }
                &-more {
                    width: 100px;
                    height: 100px;
                    background-color: #ae4eee;
                    border-radius: 17px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: "Inconsolata", monospace;
                    font-size: 26px;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
            &-author {
                h3 {
                    font-family: "Inconsolata", monospace;
                    font-size: 26px;
                    letter-spacing: 1px;
                    font-weight: 900;
                    margin: 15px 0;
                }
                &-name {
                    display: flex;
                    span {
                        font-family: "Inconsolata", monospace;
                        margin-left: 10px;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .collection {
        &_content {
            justify-content: space-between;
            padding: 0;
            &-item {
                margin: 0px 15px;
                &-images {
                    width: 290px;
                    img {
                        width: 290px;
                    }
                    &-more {
                        width: 95px;
                        height: 95px;
                    }
                    &-bottom {
                        img {
                            width: 95px;
                            height: 95px;
                        }
                    }
                }
            }
        }
        &_title {
            width: 100%;
            padding-left: 20px;
        }
    }
}

@media (max-width: 992px) {
    .third {
        display: none;
    }
    .collection {
        &_content {
            &-item {
                &-images {
                    width: 330px;
                    img {
                        width: 330px;
                    }
                    &-more {
                        width: 100px;
                        height: 100px;
                    }
                    &-bottom {
                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
            }
        }
        &_title {
            padding: 0;
        }
    }
}

@media (max-width: 768px) {
    .second {
        display: none;
    }
    .collection {
        &_content {
            justify-content: center;
        }
        &_title {
            padding: 0 40px;
        }
    }
}

@media (max-width: 576px) {
    .collection {
        &_title {
            text-align: center;
            h2 {
                font-size: 26px;
            }
            span {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 386px) {
    .collection {
        &_content {
            &-item {
                &-images {
                    width: 290px;
                    img {
                        width: 290px;
                    }
                    &-more {
                        width: 90px;
                        height: 90px;
                    }
                    &-bottom {
                        img {
                            width: 90px;
                            height: 90px;
                        }
                    }
                }
            }
        }
    }
}